.markdown-body blockquote {
    color: #3B3838;
    border-left: 0.25em solid #C00000;
    font-size: larger;
    background-color: #f7d8d8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(2);
    /* Webkit browsers*/
    -webkit-transform: scale(2);
    padding: 0;
    margin: 1em;
    vertical-align: middle;
    position: relative;
    top: 0;
}

label {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    text-indent: -3em;
    border-bottom: 0.1em solid #e1e4e8;
    font-size: larger;
}

.top {
    border-top: 0.1em solid #e1e4e8;
}

.alt {
    background-color: #f7f7f7;
}

.title {
    color: #4472C4;
    border-bottom: unset !important;
    margin-top: unset !important;
    margin-bottom: unset !important;
    font-weight: normal !important;
    text-align: center;
}

.subtitle {
    color: #A6A6A6;
    margin-top: unset !important;
    border-bottom: unset !important;
    font-weight: normal !important;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
}


button {
    margin-bottom: 3em;
}

.nav-button {
    background-color: #4b5052;
    border: 2px solid black;
    color: whitesmoke;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
}

.right {
    float: right;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.list-link {
    font-size: 1.25em;
    font-weight: 600;
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    width: 100%;
    height: 100%;
}
