.markdown-body blockquote {
    color: #3B3838;
    border-left: 0.25em solid #C00000;
    font-size: larger;
    background-color: #f7d8d8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(2);
    /* Webkit browsers*/
    -webkit-transform: scale(2);
    padding: 0;
    margin: 1em;
    vertical-align: middle;
    position: relative;
    top: 0;
}

label {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    text-indent: -3em;
    border-bottom: 0.1em solid #e1e4e8;
    font-size: larger;
}

.top {
    border-top: 0.1em solid #e1e4e8;
}

.alt {
    background-color: #f7f7f7;
}

.title {
    color: #4472C4;
    border-bottom: 0;
    font-weight: normal;
    text-align: center;
}

.subtitle {
    color: #A6A6A6;
    border-bottom: 0;
    font-weight: normal;
    text-align: center;
}
