.markdown-body blockquote {
    color: #3B3838;
    border-left: 0.25em solid #C00000;
    font-size: larger;
}

input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(2);
    /* Webkit browsers*/
    -webkit-transform: scale(2);
    margin-right: 10px;
}

label {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-bottom: 0.1em solid #e1e4e8;
    font-size: larger;
}

.top {
    border-top: 0.1em solid #e1e4e8;
}

.alt {
    background-color: #f7f7f7;
}
