.markdown-body blockquote {
    color: #3B3838;
    border: 1px solid rgb(205, 205, 205);
    border-left: 0.25em solid rgb(255, 42, 81);
    border-radius: 0.2rem;
    font-size: larger;
    background-color: rgba(255, 42, 81, 0.1);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    box-shadow: 0px 1px 2px rgba(43, 42, 51, 0.05);
}


input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(2);
    /* Webkit browsers*/
    -webkit-transform: scale(2);
    padding: 0;
    margin: 1em;
    vertical-align: middle;
    position: relative;
    top: 0;
}

label {
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    text-indent: -3em;
    border-bottom: 0.1em solid #e1e4e8;
    font-size: larger;
}

    label:nth-child(2n) {
        background: #f7f7f7;
    }

    label:first-child {
        border-top: 0.1em solid #e1e4e8;
    }

img { max-width: 100%; }

.markdown-body .togglelist { padding-left: 0;}
.togglelist { list-style-type: none; display:flex; padding-left:0; align-items: stretch; }
.togglelist > * { flex: 1; text-align: center; padding-left: 2em; padding-right: 2em; }

@media (max-width: 640px) {
    .togglelist > * { padding-left: 1em; padding-right: 1em; }
}

.checklistToggler { opacity: 0.2; }
.checklistToggler.active { opacity: 1;}

.checklistContainer { margin-bottom: 1em; }
.checklistContainer label { background: inherit;}
.checklistContainer label.alt { background: #f7f7f7;}

.title {
    color: #4472C4;
    border-bottom: unset !important;
    margin-top: unset !important;
    margin-bottom: unset !important;
    font-weight: normal !important;
    text-align: center;
}

.subtitle {
    color: #A6A6A6;
    margin-top: unset !important;
    border-bottom: unset !important;
    font-weight: normal !important;
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    text-align: center;
}


button {
    margin-bottom: 3em;
}

.nav-button {
    background-color: #4b5052;
    border: 2px solid black;
    color: whitesmoke;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
}

.right {
    float: right;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.list-link {
    font-size: 1.25em;
    font-weight: 600;
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    width: 100%;
    height: 100%;
}
.label-new {
    color: #004085;
    background-color: #cce5ff !important;
    border-color: #b8daff;
}

.iframeVideo {
    height: 0px;
    padding-top: 25px;
    padding-bottom: 56.2%;
    position: relative;
    margin-bottom: 45px;
}

.iframeVideo iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.svg-inline--fa.fa-w-11 {
     width: 0.6875em;
 }
.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel img {
    width: 100%;
    display: none; /* Hide all images by default */
}

    .carousel img:first-child {
        display: block; /* Show the first image */
    }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .thumbnails img {
        width: 60px;
        height: auto;
        margin: 0 5px;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.3s ease;
    }

        .thumbnails img:hover {
            opacity: 1;
        }